
.vs/
bin/
obj/
[Bb]in/
[Oo]bj/

*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

TestResults/
*.trx
*.coverage
*.coveragexml

*.log
logs/
Logs/
[Ll]og/
[Ll]ogs/

*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

backups/
Backups/
backup/
Backup/
*.bak

appsettings.Development.json
*.local.json

.vscode/
.idea/
_ReSharper*/
*.DotSettings.user

*.nupkg
*.snupkg
packages/


AlJohary.ServiceHub.zip
publish/dist/AlJohary.ServiceHub.exe
publish/dist/AlJohary.ServiceHub.pdb
